name: ci
on:
  push:
    branches: [ main, release ]
  pull_request:
    branches: [ main, release ]
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"
  RUSTDOCFLAGS: "-Dwarnings"  

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
      fail-fast: true
    env:
      STAGE: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy
          toolchain: nightly
          cache: true
          rustflags: "-D warnings"
      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Java Build Cache
        id: java-build-cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle
            ${{ github.workspace }}/.gradle
          key: java-build-cache-${{ runner.os }}-${{ github.workflow }}-${{ hashFiles('./krencfs/build.dependencies.toml') }}-${{ hashFiles('gradle.properties', '**/*.gradle.kts') }}-${{ github.ref }}
          # restore-keys: |
          #   java-build-cache-${{ runner.os }}-${{ github.workflow }}-${{ hashFiles('./krencfs/build.dependencies.toml') }}-${{ hashFiles('gradle.properties', '**/*.gradle.kts') }}-${{ github.ref }}
          #   java-build-cache-${{ runner.os }}-${{ github.workflow }}-${{ hashFiles('./krencfs/build.dependencies.toml') }}-
          #   java-build-cache-${{ runner.os }}-${{ github.workflow }}-

      # - name: Rust Build Cache
      #   id: rust-build-cache
      #   uses: actions/cache@v4
      #   with:
      #     path: |
      #       ~/.cargo
      #       rencfs/java-bridge/target/release/deps
      #     key: rust-build-cache-${{ runner.os }}-${{ github.workflow }}-${{ hashFiles('./rencfs/**.toml', './rencfs/**.lock') }}-${{ github.ref }}
      #     # restore-keys: |
      #     #   rust-build-cache-${{ runner.os }}-${{ github.workflow }}-${{ hashFiles('./rencfs/**.toml', './rencfs/**.lock') }}-
      #     #   rust-build-cache-${{ runner.os }}-${{ github.workflow }}-

      - name: Build Ubuntu Desktop
        run: |
          printenv
          ls -lar ${{ github.workspace }}
          ./gradlew clean krencfs:build
          ls -lar ${{ github.workspace }}
